.idea
/~$tests6.xlsx
/tests_full.xlsx
/~$tests_full.xlsx
/~$edited_output.xlsx
/tests_lg.xlsx
/tests_md.xlsx
/EmbeddingTest6.7z
/EmbeddingTest8.7z
/EmbeddingTest247.7z
/EmbeddingTest8962.7z
/*/*_vectorized_output_*
!/*/*_vectorized_output_0
!/*/*_vectorized_output_1
!/*/*_vectorized_output_2
!/*/*_vectorized_output_3
!/*/*_vectorized_output_4
!/*/*_vectorized_output_5
!/*/*_vectorized_output_6
!/*/*_vectorized_output_7
/tests_sm.xlsx
/.~lock.tests_lg.xlsx#
/test_output_single_case.txt
/test_output_single_case.md
/autotest_with_comments.txt
/autotest_without_comments.txt
/253951.xlsx
/another_autotest.txt
